@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
	--color-black-color: #000000;
	--color-white-color: #ffffff;
	--color-grey-color: #f5f5f5;
	--color-light-color: #fbfbfb;
}

body{
    color: var(--color-black-color);
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

button{
    background-color: var(--color-black-color);
    color: var(--color-white-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
}
img{
    width: 100%;
}